#box{
    border: 2px solid red;
    height: 200px;
    width: 200px;
    font-size: 186px;
    text-align: center;
    margin: 250px 0px 0px 640px;
}
#btn{
    background-color: rgb(9, 133, 57);
    color: black;
    height: 30px;
    width: 70px;
    margin: 50px 0px 0px 710px;
    border-radius: 5px;
}
#btn:hover{
    background-color: rgb(100, 218, 37);
}
#btn2{
    background-color: rgb(9, 133, 57);
    color: black;
    height: 30px;
    width: 70px;
    margin: 15px 0px 0px 710px;
    border-radius: 5px;
}
#btn2:hover{
    background-color: rgb(100, 218, 37);
}
#s{
    text-align: center;
    font-size: 31px;
}